header nav {
  position: absolute;
}

body {
  color: black !important;
}

header {
  position: fixed !important;
  width: 100%;
  height: 0 !important;
  z-index: 1000;
}

.material-icons {
  margin-left: 15px;
}

.content {
  padding-top: 64px;
}

.content > .row {
  margin: 0;
  height: 100vh;
}

.color-header {
  background-color: #80cbc4 !important;
}

.navbar-left {
  background-color: #80cbc4;
  height: inherit;
}

.navbar-right {
  background-color: #80cbc4;
  height: inherit;
}

.calendar-block {
  background-color: #b2dfdb;
  height: inherit;
}

.border {
  border-bottom: 1px outset black;
}

.flex-block {
  display: flex;
  margin-bottom: 0 !important;
}

.timeframe {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  height: 93%;
}

.hour {
  margin-bottom: 15px;
}

.page-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.person-img {
  width: 50%;
  display: block;
  margin: 0 auto;
  margin-top: 5%;
}

h4 {
  text-align: center;
}



