{% extends "testform/base.html" %}

{% block content %}
    <div>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form }}
            <input style="width: 29%;margin-top: 1em;" type="submit" value="Send" class="btn btn-primary">
        </form>
        <div class="list-residents">
            <h3 class="list-text">Request on Mentors</h3>
            <div class="userlist-block">
                <ul class="list-group list-join">
                    {% for item in list %}
                        <li class="list-group-item">{{ item.name }} {{ item.number }} {{ item.email }} {{ item.information }}</li>
                        <!-- <li class="list-group-item"> {{ item.number }} </li> -->
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}