html, body {
    margin: 0;
    pading: 0;
    font-size: 16px;
}

.flex {
    display: flex;
}

.con_box__vert .box {
    padding: 10px;
    border-bottom: 1px solid gray;
}

.con_box__hor .box {
    padding: 0.6em;
    width: 4em;
    border-bottom: 1px solid gray;
}

.abs {
    position: fixed;
    /* left: 10px; */
    background: white;
    z-index: 100;
}

.abs>div:nth-child(1) {
    border: 0
}

.padd {
    padding-top: 50px;
}

.boxtime {
    padding: 10px;
    line-height: 20px;
    position: relative;
    top: 20px;
    width: 50px;
    text-align: center;
}

.abs_div {
    position: absolute;
    height: 3em;
    width: 5em;
    left: 5.2em;
    z-index: 50;
    height: 100%;
}

.wide {
    width: 100%;
}

.flex_col {
    display: flex;
    flex-direction: column;
}

.col {
    height: 100%;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
}