.flex {
  display: flex;
}

.con_box__vert {
  padding-top: 5em;
  .box {
    padding-top: 2em;
    border-bottom: 1px solid gray;
  }
}

.con_box__hor .box {
  padding: 0.6em;
  width: 100%;
  margin-right: 37px;
  border-bottom: 1px solid gray;
  width: 100%;
  top: 3em;
}

.Calendar {
  margin-left: 15%;
  position: relative;
}

.abs {
  position: fixed;
  background: #757575;
  z-index: 100;
  width: 100%;
}

.abs>div:nth-child(1) {
  border: 0;
}

.boxtime {
  padding: 10px;
  line-height: 20px;
  position: relative;
  top: 3px;
  width: 50px;
  text-align: center;
}
.abs_container{
  top: 2em;
  position: absolute;
  height: 100%;
  width: 94%;
  left: 4em;
  display: flex;
  .abs_div {
    // position: absolute;
    // height: 3em;
    // width: 8em;
    // left: 5.2em;
    // z-index: 50;
    height: 100%;
    height: 100%;
    width: calc(100% / 7);
    // border-right: 1px solid gray;
    border-left: 1px solid gray;
    
  }
}

.wide {
  width: 100%;
}

.flex_col {
  display: flex;
  width: 83%;
}

// .colMonday {
//   height: 100%;
//   width: calc(100% / 7);
//   border-right: 1px solid gray;
//   border-left: 1px solid gray;
// }

// .colTuesday {
//   // left: 132px;
//   // width: 9em;
//   width: calc(100% / 7);
//   height: 100%;
//   border-right: 1px solid gray;
//   border-left: 1px solid gray;
// }

// .colWednesday {
//   // left: 280px;
//   // width: 6em;
//   width: calc(100% / 7);
//   height: 100%;
//   border-right: 1px solid gray;
//   border-left: 1px solid gray;
// }

// .colThursday {
//   height: 100%;
//   // left: 382px;
//   width: calc(100% / 7);
//   border-right: 1px solid gray;
//   border-left: 1px solid gray;
// }

// .colFriday {
//   height: 100%;
//   // left: 520px;
//   // width: 7em;
//   width: calc(100% / 7);
//   border-right: 1px solid gray;
//   border-left: 1px solid gray;
// }

// .colSaturday {
//   height: 100%;
//   // left: 641px;
//   width: calc(100% / 7);
//   border-right: 1px solid gray;
//   border-left: 1px solid gray;
// }

// .colSunday {
//   height: 100%;
//   // left: 777px;
//   width: calc(100% / 7);
//   border-right: 1px solid gray;
//   border-left: 1px solid gray;
// }
