.sidebarblock {
  float: left;
  width: 20%;
  background-color: rgb(94, 202, 121);
  height: 562px;

  /* border: 0.5px outset black; */
}

.avatarlogo {
  width: 50%;
  display: block;
  margin: 0 auto;
  margin-top: 5%;
}

.nametext {
  text-align: center;
}
