.mainblock {
  float: right;
  width: 80%;
  background-color: #beffc4;
  align-items: center;
}

.calendar{}

.calendar__week,
.calendar__header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border: 1px outset black;
  border-right: 1px solid #e1e1e1;
  border-top: 1px solid #e1e1e1;
}

.day {
  border-right: 1px outset black;
}

.calendar__week {
  grid-auto-rows: 100px;
  text-align: left;
  padding-left: 1%;
}

.calendar__header {
  grid-auto-rows: 50px;
  align-items: center;
  text-align: center;
}

.calendar__day {
  padding: 16px;
}

